md-card {
    padding: 0;
    max-width: 400px;
    margin: 0 auto;
}

md-card-content {
    padding: 20px;
}

md-input {
    width: 100%;
}

button.send {
    float: right;
    margin-top: 20px;
}

.clearfix {
    clear: both;
}